{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2",
    ["env", { "modules": false, "loose": true }]
  ],
  "plugins": ["transform-runtime",
    ["component", [
      {
        "libraryName": "mint-ui",
        "style": true
      }
    ]],
    "transform-vue-jsx"
  ],
  "comments": false,
  "env": {
    "test": {
      "plugins": [ "istanbul" ]
    }
  }
}
